#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.card {
  background-color: #1b1b1b;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}

.cardHeader {
  background-color: #0e0d0d;
  padding: 10px;
  font-weight: bold;
}

.cardBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.shopSetWrapper {
  overflow-x: scroll;
}

.shopSet {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 5px;
}

.remove {
  background-color: rgb(75, 12, 12);
  width: 100%;
  border-radius: 0;
}

.card ul {
  width: fit-content;
}

.card li {
  width: fit-content;
}

.manualDiscounts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.manualDiscount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 17%;
}