#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.card {
  background-color: #1b1b1b;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}

.cardHeader {
  background-color: #0e0d0d;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.cardTitle {
  flex-grow: 1;
  margin: auto;
  padding: 2px;
}

.remove {
  background-color: rgb(184, 12, 12);
  border-radius: 0;
  flex-grow: 0;
  font-size: 25px;
  padding: 2px;
  color: white;
}

.cardBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.shopSetWrapper {
  overflow-x: scroll;
}

.shopSet {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 5px;
  align-items: center;
}

.shopSetHeader {
  width: 250px;
  flex-shrink: 0;
  flex-grow: 0;
}

.card ul {
  width: fit-content;
}

.card li {
  width: fit-content;
}

.manualDiscounts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.manualDiscount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 17%;
}

input {
  font-size: 16px;
}

h4 {
  margin: 0;
}

ul {
  margin: 0;
}